.landing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
}

/* Text */
.text {
  max-width: 400px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

/* Image */
.image img {
  width: 300px;
}

/* Responsive for Mobile */
@media (max-width: 768px) {
  .landing {
    flex-direction: column;
    text-align: center;
  }

  .image img {
    width: 200px;
    margin-top: 20px;
  }
}